body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 700;
	color: #000;
	background-color: #ffffff;
	background-position: top center;
	background-repeat: no-repeat;
	position: absolute;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.main-menu {
	background-color: #f3f7f8;
	width: auto;
}

.user-navigation {
	background-color: #293449;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style-type: none;
}

.main-navigation {
	display: flex;
	flex-direction: row;
	background-color: #293449;
	justify-content: space-around;
	list-style-type: none;
}

.info-company {
	display: flex;
	width: 940px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 33px auto 24px auto;
}

.about-us {
	width: 300px;
}

.about-us h1 {
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
	font-weight: 200;
	font-style: italic;
	padding: 5px 53px;
}

.about-contacts {
	display: flex;
	flex-direction: column;
	width: 265px;
	margin-left: 11px;
}

.about-contacts a {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	outline: 3px solid white;
	padding: 6px 0px 10px 42px;
	margin-top: 18px;
}

.about-contacts a::before {
	content: url(../img/icon-phone.svg);
	position: relative;
	margin-right: 11px;
	top: 3px;
	right: 29px;
}

.address {
	font-size: 14px;
	color: #32425c;
	line-height: 24px;
	margin-top: 6px;
	margin-left: 11px;
}

.login-navigation {
	width: 310px;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.site-navigation {
	width: 940px;
	background-color: #32425c;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	list-style-type: none;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 0;
}

.site-navigation-index {
	margin-left: 26px;
}

.site-navigation-company,
.site-navigation-catalog,
.site-navigation-news {
	margin-left: 4px;
}

.site-navigation-promo {
	margin-right: 3px;
}

.site-navigation-delivery {
	margin-right: 7px;
}

.site-navigation-contacts {
	margin-right: 26px;
}

.navigation-item {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	font-weight: 300;
}

.main-menu-container {
	height: 320px;
}

.bottom-row {
	display: flex;
	width: 940px;
	margin: auto;
}

.info-header {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: normal;
}

.deliveries,
.garanty,
.credit {
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
}

.delivery-partner a {
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	font-weight: normal;
}

.description {
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	margin-right: 113px;
}

.button {
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	background-color: #ee3643;
	width: 220px;
	padding-left: 53px;
	padding-right: 77px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-radius: 3px;
	line-height: 18px;
}

.main-footer {
	background-color: #32425c;
}

.footer-section.row-1 {
	width: auto;
	display: flex;
}

.footer-navigation-company {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	width: 605px;
	margin-left: 146px;
	margin-top: 38px;
}

.footer-item {
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	font-weight: normal;
}

.main-footer-logo {
	margin-left: 364px;
	margin-top: 22px;
}

.footer-section.row-2 {
	width: auto;
	display: flex;
	align-items: flex-end;
	padding-bottom: 52px;
}

.footer-site-navigation {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin-left: 5px;
	margin-bottom: 21px;
	width: 560px;
}

.footer-site-navigation-item {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
	font-weight: normal;
	margin-left: 36px;
}

.footer-address {
	font-size: 18px;
	line-height: 24px;
	color: #f3f7f9;
	font-weight: normal;
	margin-left: 327px;
	margin-top: 20px;
	width: 330px;
}

.footer-section.row-3 {
	background-color: #293449;
	display: flex;
	justify-content: space-around;
	width: auto;
	padding: 19px 250px 35px 281px;
}

.description-rights {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: normal;
}

.description-rights a {
	color: #ffd180;
}

.technomart-2019 {
	width: 240px;
	margin-left: 15px;
}

.feedback-mail {
	margin-left: 53px;
	width: 140px;
}

.developed-by {
	width: 140px;
	margin-right: 14px;
}

.footer-social {
	display: flex;
	justify-content: center;
	list-style-type: none;
	width: 160px;
	margin-left: 48px;
}

.modal.contact-us {
	display: none;
}

.modal.map {
	display: none;
}

.main-header-logo {
	background-color: #ee3643;
	padding-left: 37px;
	padding-right: 55px;
	padding-top: 32px;
	padding-bottom: 21px;
	box-shadow: 0 4px 0 #b52933;
}

.main-header-logo img {
	padding-top: 11px;
	padding-left: 19px;
}

.menu-column-index {
	margin: 0;
}

.user-navigation.index-header,
.user-navigation.catalog-header {
	width: 940px;
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
	padding: 0;
}

.advantages-list.row {
	width: 940px;
	display: flex;
	justify-content: space-between;
	margin: 50px auto 41px;
	padding: 0;
	list-style-type: none;
	flex-wrap: wrap;
}

.advantage-list.column {
	list-style: none;
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

.advantage-item {
	width: 300px;
	margin: 8px 0 12px;
	position: relative;
	min-height: 123px;
}

.advantage-item h3 {
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.7px;
	color: #fff;
	font-weight: 300;
	padding: 0 24px;
	margin: 20px auto;
}

.advantage-item a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 300;
	border-radius: 3px;
}

.materials {
	background-color: #ffbf47;
}

.materials::after {
	content: url(../img/icon-1.svg);
	position: absolute;
	bottom: 20px;
	right: 42px;
}

.materials a {
	background-color: #e5ac40;
	padding: 11px 24px;
	margin: 0px 26px;
}

.instrument {
	background-color: #3bbce3;
}

.instrument a {
	background-color: #35a9cc;
	padding: 11px 26px;
	margin: 0px 26px;
}

.instrument::after {
	content: url(../img/icon-2.svg);
	position: absolute;
	bottom: 23px;
	right: 27px;
}

.equipment {
	background-color: #dc91d8;
}

.equipment a {
	background-color: #c682c2;
	padding: 11px 30px;
	margin: 0px 25px;
}

.equipment::after {
	content: url(../img/icon-3.svg);
	position: absolute;
	bottom: 23px;
	right: 30px;
}

.discount {
	background-color: #8ed78f;
	margin: 0 0 20px;
}

.discount a {
	background-color: #80c180;
	padding: 11px 22px;
	margin: 0px 25px;
}

.discount::after {
	content: url(../img/icon-4.svg);
	position: absolute;
	bottom: 18px;
	right: 44px;
}

.delivery {
	background-color: #ffc047;
	margin: 0;
}

.delivery a {
	background-color: #e5ac40;
	padding: 11px 36px;
	margin: 0px 25px;
}

.delivery::after {
	content: url(../img/icon-5.svg);
	position: absolute;
	bottom: 20px;
	right: 30px;
}

.slider {
	list-style-type: none;
	width: 620px;
}

.slide {
	display: none;
}

.slide.slide-active {
	display: block;
}

.slider-pagination {
	list-style: none;
}

.slide h2 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	padding: 22px 26px 3px;
	margin: 0;
}

.slide p {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	font-weight: 400;
	margin: 0 26px;
}

.slider-list {
	width: 620px;
	padding: 0;
}

.slide {
	position: relative;
	width: 620px;
	min-height: 266px;
}

a.open-catalog {
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	background-color: #ee3643;
	padding: 10px 48px;
	border-radius: 3px;
	position: absolute;
	bottom: 21px;
	left: 26px;
}

.content-1 {
	background-image: url("../img/slider-2.jpg");
}

.content-2 {
	background-image: url("../img/slider-1.jpg");
}

.slide::before {
	content: url(../img/icon-left.svg);
	position: absolute;
	top: 114px;
	left: 27px;
}

.slide::after {
	content: url(../img/icon-right.svg);
	position: absolute;
	top: 114px;
	right: 19px;
}

.headline {
	width: 940px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #f9f5f0;
	margin: 20px auto;
	align-items: center;
}

.popular-items {
	width: 940px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 280px;
	list-style-type: none;
}

.popular-item {
	width: 218px;
	outline: 2px solid #f9f5f0;
	min-height: 316px;
}

.popular-item h2 {
	margin: 0 23px;
	text-align: center;
}

.old-item-price {
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
}

.old-item-price.catalog {
}

.new-item-price.catalog {
	margin-top: 8px;
	text-transform: uppercase;
	padding: 11px 72px 10px 0px;
}

.new-item-price {
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	background-color: #ee3643;
	padding: 6px 25px;
	border-radius: 5px;
	margin: auto;
}

.new {
	margin: 18px auto 0 auto;
}

.new-catalog {
	margin-top: 32px;
	text-transform: uppercase;
	padding: 7px 75px 10px 0px;
}

.prices {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.catalog-item-action {
	display: none;
}

.popular-brands-list {
	width: 940px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	list-style-type: none;
	flex-wrap: wrap;
}

.popular-brands-item {
	width: 220px;
	min-height: 145px;
	outline: 2px solid #f9f5f0;
	margin: 7px;
	text-align: center;
}

.popular-brands-item a {
	width: 220px;
	line-height: 145px;
	display: block;
	margin: 0;
}

img {
	vertical-align: middle;
}

.services {
	width: auto;
	margin: auto;
	background-color: #f4f7f9;
}

.services-row h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000;
	font-weight: 300;
}

.services-row p {
	font-size: 13px;
	line-height: 24px;
	font-weight: 300;
}

.services-container {
	display: flex;
	width: 940px;
	margin: auto;
}

.services-row {
	width: auto;
	margin: auto;
	padding: 64px 348px;
}

.services-list {
	list-style-type: none;
	width: 240px;
	min-height: 187px;
	margin: 0;
}

.services-item {
	font-size: 21px;
	line-height: 30px;
	color: #fff;
	background-color: #32425c;
	padding: 10px 59px;
	font-weight: 500;
}

.services-description {
	list-style-type: none;
	margin: 0 auto;
}

.services-description h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;
	margin: 0 auto;
}

.deliveries::after {
	content: url(../img/delivery.png);
	margin-left: 144px;
	position: relative;
	bottom: 139px;
}

.garanty::after {
	content: url(../img/garanty.png);
	margin-left: 144px;
	position: relative;
	bottom: 139px;
}

.credit::after {
	content: url(../img/credit.png);
	margin-left: 144px;
	position: relative;
	bottom: 139px;
}

.is-hidden {
	display: none;
}

.breadcrumbs {
	list-style-type: none;
	width: 940px;
	display: flex;
	flex-direction: row;
	margin: 18px auto;
	padding-left: 0;
}

.breadcrumbs-item-catalog {
	margin-left: 7px;
}

.breadcrumbs-item-instrument {
	margin-left: 4px;
}

.page-title {
	background-color: #f2f6f8;
	width: 884px;
	margin: auto;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	padding: 28px 28px;
	margin-bottom: 22px;
}

.left-column {
	font-family: 'PTSans', sans-serif;
	width: 220px;
	margin-right: 21px;
	margin-top: 3px;
}

.catalog-wrapper {
	width: 940px;
	margin: auto;
	display: flex;
}

.right-column {
	width: 700px;
	margin: auto;
}

.catalog-sort-item.price {
	margin-right: 20px;
	margin-left: 10px;
}

.catalog-sort-item.type {
	margin-left: 24px;
}

.catalog-sort-item.function {
	margin-left: 36px;
}

.catalog-sort-item.down {
	margin-left: 17px;
}

.catalog-sort-item.up {
	margin-right: 4px;
}

.catalog-sort-column.sort {
	width: 700px;
	background-color: #f7f3ec;
	display: flex;
}

.catalog-sort-list.order {
	list-style-type: none;
	width: 700px;
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: space-around;
	margin-left: 68px;
	margin-top: 6px;
}

.catalog-sort-list.arrows {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: space-between;
}

.catalog-pads {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	width: 700px;
	margin: auto;
	justify-content: space-between;
	font-family: 'Cuprum', 'Arial', sans-serif;
	padding-left: 0;
}

.catalog-item {
	width: 220px;
	min-height: 318px;
	outline: 2px solid #f9f5f0;
	margin-bottom: 19px;
}

.pagination-list {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: 242px;
	margin-top: 33px;
	padding: 0;
}

.pagination-list:first-child {
}

.search input[type=text] {
	box-sizing: border-box;
	width: 156px;
	height: 49px;
	padding: 8px 40px;
	font: inherit;
	vertical-align: middle;
	background-color: transparent;
	background-image: url(../img/icon-search.svg);
	background-repeat: no-repeat;
	background-position: 10px 14px;
	border: 0;
	border-bottom: 2px solid transparent;
	border-radius: 0;
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	font-weight: 700;
	position: relative;
	bottom: 3px;
	right: 32px;
}

.search {
	height: 41px;
}

.menu-column-bookmarks {
	margin-top: 9px;
	margin-left: 64px;
}

.menu-column-bucket {
	background-color: #ee3643;
	padding-top: 9px;
	margin-left: 85px;
	width: 150px;
}

.menu-column-order.active {
	background-color: #63a63e;
	padding-top: 9px;
	padding-left: 20px;
	padding-right: 21px;
}

.user-navigation-item {
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	font-weight: 500;
	width: 150px;
}

.user-navigation-item.bookmarks {
	margin-right: 27px;
}

.user-navigation-item.bucket {
	margin-left: 35px;
}

.bookmarks::before {
	content: url(../img/icon-bookmark.svg);
	position: relative;
	top: 2px;
	right: 13px;
}

.bucket::before {
	content: url(../img/icon-cart.svg);
	position: relative;
	right: 17px;
	top: 1px;
}

.popular {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	margin: 20px 25px;
}

.headline a {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #fff;
	background-color: #ee3643;
	border-radius: 5px;
	padding: 10px 15px;
	margin-right: 10px;
}

.delivery-partner-list {
	list-style-type: none;
	font-size: 18px;
	line-height: 20px;
	font-weight: 300;
}

.delivery-partner {
	margin: 5px 0;
}

.delivery-partner::before {
	content: '';
	display: block;
	height: 2px;
	background: #ee3643;
	width: 26px;
	position: relative;
	right: 38px;
	top: 10px;
}

.contact-map {
	margin-bottom: 23px;
}

.footer-social li {
	margin: 0 2px;
}

.footer-social-item {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: #212a3a;
	display: flex;
	justify-content: center;
	align-items: center;
}

fieldset {
	border: none;
}

legend {
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 8px;
}

.range-filter {
	width: 219px;
	height: 79px;
	background-color: #eee;
}

.range-controls {
	position: relative;
	padding-top: 39px;
}

.range-controls .scale {
	width: 171px;
	background: #d7dcde;
	margin-left: 28px;
}

.range-controls .bar {
	width: 81%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 20px;
	width: 20px;
	height: 20px;
	padding: 0;
	border: 8px solid #fff;
	background-color: #ababab;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .toggle-max {
	left: 159px;
}

.price-controls {
	font-weight: 400;
	padding-right: 0;
	font-size: 16px;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	margin-top: 48px;
}

.price-controls input {
	width: 94px;
	height: 36px;
	text-align: center;
	color: #283136;
	border: 0;
	border-radius: 3px;
	background: 0 0;
	background-color: #eee;
}

.filter-brand {
	margin-top: 83px;
	padding: 0;
}

.filter-option-list {
	list-style: none;
	margin: 12px auto;
	margin-top: 0;
	padding: 0;
	margin-left: 34px;
}

.filter-option-list li::first-child) {
	margin-top: 6px;
}

.filter-option-list li:not(:nth-child(1)) {
	margin-top: 20px;
}

.filter-power {
	margin-top: 28px;
	padding-left: 0;
	padding-top: 0px;
}

.filter-option {
	line-height: 20px;
	font-size: 15px;
	padding-right: 5px;
	margin-top: 6px;
	font-weight: 400;
	text-transform: uppercase;
}

.filter-option-list label {
	position: relative;
	cursor: pointer;
}

.filter-input-checkbox:checked+label::before {
	background-image: url(../img/checkbox-on.svg);
}

.filter-input-checkbox+label::before {
	content: '';
	position: absolute;
	top: -6px;
	left: -36px;
	width: 30px;
	height: 30px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: left center;
	opacity: .4;
}

.filter-input-radio:checked+label::before {
	background-image: url(../img/radio-on.svg);
}

.filter-input-radio+label::before {
	content: '';
	position: absolute;
	top: -6px;
	left: -39px;
	width: 30px;
	height: 30px;
	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;
	background-position: left center;
	opacity: .4;
}

.form-btn.button {
	text-transform: uppercase;
	color: #000;
	font-weight: 500;
	font-size: 14px;
	background-color: #fff;
	width: 140px;
	padding-left: 38px;
	padding-right: 82px;
	padding-top: 9px;
	padding-bottom: 10px;
	border-radius: 3px;
	line-height: 18px;
	margin-top: 56px;
}

.left-column.filter span {
	font-size: 13px;
	background-color: #f7f3ec;
	line-height: 18px;
	text-transform: uppercase;
	padding: 10px 148px 13px 19px;
	font-weight: 300;
	width: 220px;
	margin-top: 12px;
}

.filter-item {
	margin-top: 18px;
	padding-left: 0;
}

.catalog-sort-column.sort {
	width: 700px;
	background-color: #f7f3ec;
	display: flex;
	padding: 0px 0 8px 0;
	margin: 0px 0 20px 0;
	font-family: 'PTSans', sans-serif;
}

.catalog-sort-column.sort span {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 10px;
	margin-left: 18px;
}

.sorting-item {
	font-size: 13px;
	background-color: #f7f3ec;
	line-height: 18px;
	text-transform: uppercase;
	color: #000;
	font-weight: 300;
}

.catalog-item-description img {
	margin-top: 7px;
}

.item-name {
	margin: 0px 18px;
	text-align: center;
	color: #000;
	font-size: 19px;
	line-height: 20px;
	margin-bottom: 10px;
	font-family: 'PTSans', sans-serif;
	margin-top: 17px;
	font-stretch: semi-condensed;
}

.pagination-page-number.active {
	background-color: #ee3643;
	padding: 7px 16px;
	border-radius: 4px;
}

.pagination-page-number.active a {
	text-decoration: none;
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

.pagination-page-number {
	background-color: transparent;
	border: 1px solid #999999;
	padding: 7px 16px;
	border-radius: 4px;
}

.pagination-page-number a {
	text-decoration: none;
	font-size: 13px;
	line-height: 18px;
	font-weight: 500;
	color: rgba(0,0,0,1);
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
}

.description-perforator {
	margin: auto;
	padding: 60px 321px;
	background-color: #f2f6f8;
	margin-top: 46px;
}

.about-perforator {
	font-size: 30px;
	line-height: 30px;
	color: #000;
	font-weight: 300;
	width: 940px;
	margin-top: 4px;
	padding-left: 1px;
	margin-bottom: 28px;
}

.perforator {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	width: 986px;
	margin: auto;
	font-family: 'PTSans', sans-serif;
	margin-bottom: 6px;
}
}

.description-rights a {
	color: #ffd180;
}

.login {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 300px;
}

.catalog.login {
	width: 300px;
	min-height: 45px;
	background-color: #fff;
	justify-content: center;
	align-items: center;
	margin-bottom: 6px
}

.catalog.login-order {
	width: 80px;
	padding-left: 7px;
}

.catalog.login-user {
	margin-right: 59px;
	position: relative;
}

.catalog.login a {
	font-size: 21px;
	line-height: 21px;
	color: #000;
}

.login-button {
	margin-right: 16px;
}

.catalog.login a:first-child::before {
	content: url(../img/icon-user.svg);
	position: relative;
	right: 13px;
	top: 1px;
}

.catalog.login a:last-child::after {
	content: url(../img/icon-logout.svg);
	position: relative;
	left: 21px;
	top: 3px;
}

.catalog.login-order a,
.catalog.login-user a {
	color: #32425c;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.catalog.login-user::before {
	content: "";
	display: block;
	width: 4px;
	height: 4px;
	background-color: #000;
	border-radius: 15px;
	position: absolute;
	right: 115px;
	top: 8px;
}

.sing-in,
.sing-up {
	font-size: 21px;
	line-height: 21px;
	color: #000;
	background: #fff;
	font-weight: 500;
	padding: 5px 19px;
}

.sing-in::before {
	content: url(../img/icon-login.svg);
	position: relative;
	top: 3px;
	right: 10px;
}

.breadcrumbs-item {
	font-size: 13px;
	line-height: 18px;
	color: #000;
	text-transform: uppercase;
	margin: 0px 24px 0 0;
	font-family: 'PTSans', sans-serif;
	font-weight: 300;
}

.breadcrumbs-item-index::after {
	content: url(../img/icon-right-small.svg);
	position: relative;
	right: 10px;
}

.breadcrumbs-item-catalog::after {
	content: url(../img/icon-right-small.svg);
	position: relative;
	right: 10px;
}

.breadcrumbs-item-instrument::after {
	content: url(../img/icon-right-small.svg);
	position: relative;
	right: 16px;
}

.home {
	position: relative;
	bottom: 3px;
}
